h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: navy;
    color: white
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

form{
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

table{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}