<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <title>Student Loan Repayment Optimiser</title>
  </head>
  <body>
        <h1>The answer is...{{ answer }}</h1>

       <table>
        {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
        {% endfor %}
      </table> 
  </body>
</html>